language: java
jdk:
- oraclejdk8
after_success:
- bash <(curl -s https://codecov.io/bash)
services:
  - postgresql


before_install:
- wget http://ftp.cixug.es/apache/kafka/0.10.2.0/kafka_2.11-0.10.2.0.tgz -O kafka.tgz
- mkdir -p kafka && tar xzf kafka.tgz -C kafka --strip-components 1
- nohup bash -c "cd kafka && bin/zookeeper-server-start.sh config/zookeeper.properties &"
- sleep 5
- nohup bash -c "cd kafka && bin/kafka-server-start.sh config/server.properties &"
- sleep 5
- git clone https://github.com/Arquisoft/participants_i2a.git
- nohup bash -c "cd participants_i2a && mvn spring-boot:run &"
before_script:
- psql -U postgres -c 'create database citizens;'
- psql -U postgres CREATE USER user WITH SUPERUSER PASSWORD 'root'
- psql -U user -d citizens -f ./postgres/citizens.sql
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start
script:
- sleep 60 # let spring boot
- mvn test