<!-- pag con proposals-> muestra el texto de cada proposal,
tiene un boton para votarla, 
su categoria, 
numero de votos, 
user que la escribio, 
boton para comentar, (lleva a  otra pag)
share en redes sociales??? -->
 
 
<form th:action="${'/user/addProposal/' + proposalId}" th:method="post">
        <button type="submit">Add Proposal</button>
</form>   
<table>
  <tr th:each="proposal : *{proposals}" th:with="proposalId=${proposal.id}" >
  	<td th:text="${proposal.content}" />
  	<td th:text="${proposal.votes}" />
  	<td th:text="${proposal.categoryId}" />
  	<td th:text="${proposal.userId}" />
  	<td>
	  	<form th:action="${'/user/voteProposal/' + proposalId}" th:method="post">
	        <button type="submit">Vote</button>
	    </form>
	    <form th:action="${'/user/commentProposal/' + proposalId}" th:method="post">
	        <button type="submit">Comment</button>
	    </form>
    </td>
</table>