<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Participation System</title>
</head>

<body>


<form th:action="${'/user/addProposal/'}" th:method="post">
        <button type="submit">Add Proposal</button>
</form>   
<table>
	<th>Content</th>
  	<th>Votes</th>
  	<th>Category</th>
  	<th>Text</th>
    <tr th:each="proposal : *{proposals}" th:with="proposalId=${proposal.id}" >
  	    <td th:text="${proposal.content}"></td>
  	    <td th:text="${proposal.votes}" />
  	    <td th:text="${proposal.categoryId}" />
  	    <td th:text="${proposal.userId}" />
  	<td>
	  	<form th:action="${'/user/voteProposal/' + proposalId}" th:method="post">
	        <button type="submit">Vote</button>
	    </form>
	    <form th:action="${'/user/commentProposal/' + proposalId}" th:method="post">
	        <button type="submit">Comment</button>
	    </form>
    </td>
  </tr>
</table>



</body>
</html>