<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<style>
  .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: 100px;}
</style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="jumbotron center">
          <h1>DON'T USE BAD WORDS!!! <br> <small><font face="Tahoma" size=20 color="red">or you will be banned</font></small></h1>
          <br />
          <p>We're trying to live in a paceful community, please, beware of your language. <br> Click the <b>Take Me Home</b> button to navigate to the page you have prevously come from</p>
          <button th:action="${'/user/home'}" class="btn btn-lg btn-info "><i class="icon-home icon-white"></i> Take Me Home</button>
        </div>
        <br />
      
    </div>
  </div>
</div>
</body>
